%card,
.card {
  padding: 1rem;
  border-radius: var(--border-radius);
  display: flex;
  background-color: color(card-background);
  gap: 1rem;
  align-items: center;
  transition: var(--transition-base);
  min-height: rfs-value(120px);

  > header {
    width: 100%;
    max-width: rfs-value(80px);
  }

  @include active {
    background-color: hsl-var(card-background, 0, 0, 0, 0.1);
  }

  > section {
    > h2 {
      // max lines 2
      --nr-of-lines: 2;
      --line-height: #{rfs-value(20px)};
      line-height: var(--line-height);
      max-height: calc(var(--line-height) * var(--nr-of-lines));
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      line-clamp: 2;
      -webkit-box-orient: vertical;

      line-clamp: 2;
    }
  }
}
