*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(a) {
  color: inherit;
  text-decoration: none;
}

:where(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  font-weight: inherit;
}

:where(button) {
  border: none;
  background: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
}
